<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drinks Index</title>
</head>
<body>
    <style type="text/css">
        body {
          color: rgb(255, 0, 0);
          background-color: rgb(255, 255, 255);
        }
        ul {
            text-transform: capitalize;
        }
      </style>
    <h1>Welcome to Pokedex!</h1>
    <h2>Pokemon</h2>
    <% for (let i = 0; i < pokemon.length; i++) { %>
        <ul>
            <li><a href="/pokemon/<%= i %>">
                <%= pokemon[i].name %>
                </a>
                <img src="<%= pokemon[i].img %>">
            </li>
        </ul>
    <% } %>

</body>
</html>