<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Pokemon!</title>
</head>
<body>
    <h1>Add a New Pokemon!</h1>
    <form action="/pokemon" method="POST">
        <input type="text" name="name" placeholder="name" />
        <input type="text" name="img" placeholder="link to image" /><br />
        <input type="text" name="type" placeholder="type(s)" />
        <input type="text" name="type" placeholder="type(s)" /><br />
        <input type="text" name="hp" placeholder="HP" id="hp"/>
        <input type="text" name="attack" placeholder="attack" id="attack"/><br />
        <input type="text" name="defense" placeholder="defense" id="defense"/>
        <input type="text" name="spattack" placeholder="sp attack" id="spattack"/><br />
        <input type="text" name="spdefense" placeholder="sp defense" id="spdefense"/>
        <input type="text" name="speed" placeholder="speed" id="speed"/><br />
        <input type="submit" value="Add a new Pokemon!" />
        </form>
</body>
</html>